@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    text-align: center;
    background: rgb(240,225,231);
    background: radial-gradient(circle, rgba(240,225,231,1) 4%, rgba(148,187,233,1) 78%);
}

div{
    font-family: 'Roboto', sans-serif;
    padding: 2px;
}

#cat-photo{
    max-width: 50%;
    height: auto;
    }

.positive{
    color: rgb(12, 187, 50);
}

.negative{
    color: rgb(204, 61, 61);
}

.neutral{
    color: rgb(129, 128, 128);
}

.loader{
    content: url("https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif");
    width: 70px;
    margin: auto;
}
textarea{
    border-style: double;
    border-width: 1pc;
    border-radius: 1pc;
    border-color: rgb(135, 162, 194);
    font-size: large;
    outline: none;
    background-color: rgb(182, 205, 231);
}
textarea::placeholder {
    font-size: x-large;
    text-align: center
}